
#mybtn1{
    background-color: #141414; /* Green */
    border: none;
    color: #02FA02;
   /*  padding: 0.6em 2em;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60%;
   
    cursor: pointer;
    
}
#mybtn1:hover {
    color:#05A605;
}











#mybtn1:hover {
    color:#05A605;
}




#widget{
    position:fixed;
    background-color: #141414;
    top:55px;
    right:0;
    width:21%;
    height:100%;
    border-left: 1px solid black;
}

#drive{
 padding-top: 10%;
 padding-right: 2%;
 padding-left: 2%;
 width:20%;
 padding-bottom: 2%;
}

#widget p{
    padding-left: 7%;
    padding-right: 6%;
    color:#5C5C5C;
     font-family:'Open Sans', sans-serif;
     padding-top:5%;
     font-size: 84%;
     
}

.confined{
    margin-top:90px;
    width:79%;
    padding-left:2%; 
}

#packet{
   
}
#tag{

    word-wrap: break-word;
    overflow:hidden;
    height:24px;
    padding-top: 3%;
}
#sBar{
    width:100%;
    position: fixed;
     background-color: #141414;/*#1A1A1A*/
     top:50px;
     left:0;
     color:#00F704;
      border-top: 1px solid black;
     border-bottom: 1px solid black;
       font-family:'Open Sans', sans-serif;
     padding:4px 0;
     font-size: 11px;
     z-index: 16;
}

#confined{
    width: 20%;
    margin: 2% 1.8%;
    padding: 0;
    float: left;

}
#confined a{
     font-family:'Open Sans', sans-serif;
    text-decoration: none;
    color:#C4C4C4;
    font-size: 75%;
}
#confined a:hover{
   
    color:#02FA02;
   
}
myelement1 {
          color: #D6D6D6;
    display: block;
    position:absolute;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 100;
    z-index:7;
    padding-top: 17.5%;
    padding-left: 39%;
 
}
.pgrtext{
font-family:'Open Sans', sans-serif;
}
.prginfo{
font-family:'Open Sans', sans-serif;
}
/*.blur img {
  -webkit-transition: all 0s ease;
     -moz-transition: all 0s ease;
       -o-transition: all 0s ease;
      -ms-transition: all 0s ease;
          transition: all 0s ease;

}
 
.blur img:hover {
  -webkit-filter: blur(1px);
 
}
*/



        .menu{
            width: 150px;
            background: #000;
            color: #161716;
            position:absolute;
            z-index: 999999;
            display: none;
            box-shadow: 0 0 10px #003B00;
            cursor: pointer;
        }
        .menu ul{
            list-style: none;
            padding: 0;
            margin:0;
        }
        .menu ul a{
            text-decoration: none;
             font-family:'Open Sans', sans-serif;
             font-size:80%;
        }
        .menu ul li{
            width: 88%;
            padding: 6%;
            padding-left: 5%;
            background-color: #15EB15;
            color: #161716;

        }
        .menu ul li:hover{
            background-color: #019101;
                color: #000;
        }

        
h3{
     font-family:'Open Sans', sans-serif;
     color:#9C9C9C;
     padding-left: 3%;
     padding-bottom: 2%;
     font-size: 80%;

}
span{
    color:#616161;
    padding-left: 5%;

}
}
